workflows/bridge/bridge_cron_360.json
{
  "name": "360 Bridge — CRON → Node.js Supervisor",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "*/20 14-23 * * *" }
          ]
        }
      },
      "id": "node_scheduler",
      "name": "CRON cada 20 min (9 AM-6 PM EC)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "// Verifica horario laboral Ecuador (9 AM-6 PM)\nconst ahora = new Date();\nconst horaEC = (ahora.getUTCHours() - 5 + 24) % 24;\nconst enHorario = horaEC >= 9 && horaEC < 18;\nreturn { json: { en_horario: enHorario, hora_ec: horaEC } };"
      },
      "id": "node_horario",
      "name": "Verificar Horario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            { "id": "1", "leftValue": "={{$json.en_horario}}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }
          ],
          "combinator": "and"
        }
      },
      "id": "node_if",
      "name": "Es horario laboral",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://marketa-360-ventas.hoqkyr.easypanel.host/ciclo",
        "options": {
          "timeout": 60000,
          "response": {
            "response": { "responseFormat": "json" }
          }
        }
      },
      "id": "node_http",
      "name": "POST /ciclo a Node.js",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 0]
    }
  ],
  "connections": {
    "CRON cada 20 min (9 AM-6 PM EC)": { "main": [[{ "node": "Verificar Horario", "type": "main", "index": 0 }]] },
    "Verificar Horario": { "main": [[{ "node": "Es horario laboral", "type": "main", "index": 0 }]] },
    "Es horario laboral": { "main": [[{ "node": "POST /ciclo a Node.js", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
